# <center>Big Data &ndash; Exercises &ndash; Solution</center>
## <center>Fall 2022 &ndash; Week 0 &ndash; ETH Zurich</center>

## 1. Jupyter Basics

Welcome to this Jupyter notebook. Jupyter is a web-based open-source tool based on Python that allows you to run Python (and other types of) code, visualize and discuss results, and organize everything into notebooks like this one. In this course, we use a self-hosted server inside Docker (but you can also [install your own}](https://jupyter.readthedocs.io/en/latest/install/notebook-classic.html)).

A notebook is organized in cells. Cells of this notebook contain Python code (but other cell types exists). To run a cell, select it, then press ctrl+enter. Try it out!

In [1]:
print("Hello World")

Hello World

By default, the last expression is printed. Like this:

In [2]:
maxX = 10
[x * x for x in range(maxX)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

You can also edit the text. Just double-click on a cell. It's made with markdown code. After you are done editing, press ctrl+enter

We will do most of the exercises with Jupyter. You will learn most things as we go. The notebook you are seing is the file from your local file system mounted into Docker (including the output of the cells). Write your answers inline and save regularly.

### Read more:
* [Jupyter](http://jupyter.org/)
* [Learn Python](http://www.learnpython.org)
* [Python documentation](https://docs.python.org/3/)

## 2. Bash Scripts

Code blocks by default are executed using a python interpreter (for a python notebook, such as this one).

Other languages can be used with annotations.
For instance, a code block can be converted into a bash code block using ```%%bash``` at the beginning:

In [3]:
%%bash
echo "Test File" > test_file
cat test_file

Test File

Note: do not expect files you write into this file system to be durable. The sandboxed environment may be reset and data lost when notebook is closed. The notebook files themselves are durable though.

Bash commands can be also inlined using exclamation mark (```!```) infront of the bash line

In [4]:
print("First I modify the file.")

!echo "Hello World" > test_file

print("Then I check its content:")
print()

!cat test_file

First I modify the file.
Then I check its content:

Hello World

## 3. Connecting to a Database

As part of this course you will use Jupyter to interact with various systems and interfaces (e.g. SQL, Map Reduce, Spark). In this notebook, we test a simple connection to a SQL database that is run in a different Docker container.

#### 3.1. Setting up a SQL connection

To start, we define some variables describing our connection to the database (make sure you execute the next code block by running ctrl+enter).

In [5]:
server='postgres'
user='postgres'
password='BigData1'
database='discogs'
connection_string=f'postgresql://{user}:{password}@{server}:5432/{database}'

#### 3.2. Running a SQL Query
Then we run a first query against our server. This should print the version information of the database.

#### 3.3. Inlining SQL 
It is also possible to inline SQL code (thanks an extension that enables [SQL "magic"](https://github.com/catherinedevlin/ipython-sql) that is installed alongside Jypter). With the following cell, we load the extension and establish a connection to our database from above. Run the cell and make sure you don't get any errors.

In [6]:
import sqlalchemy

engine = sqlalchemy.create_engine(connection_string)
print(engine.execute('SELECT version()').fetchall())

[('PostgreSQL 14.5 (Debian 14.5-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)]

In [7]:
%reload_ext sql
%sql $connection_string

Now we can use the ```%sql``` and ```%%sql``` magic words to run SQL directly. ```%%sql``` makes a cell a SQL cell. A SQL cell can run an arbitrary number of SQL statements and displays the result of the last one of them.

Let's see the version number again:

In [8]:
%%sql
SELECT version();

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[('PostgreSQL 14.5 (Debian 14.5-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)]

The ```%sql``` magic words lets us run SQL statements in a regular cell. Again, the result of the last statement is displayed.

In [9]:
print("Run a query!")

Run a query!

In [10]:
%%sql
SELECT * FROM artists WHERE name = 'Radiohead';

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(3840, 'Radiohead', None, 'Alternative Rock (Modern Rock) band from Oxfordshire, England (United Kingdom).\r \r The name Radiohead comes from the [a=Talking Heads] song, "Radio ... (2253 characters truncated) ...  [a=Pixies], [a=Magazine], [a=Joy Division], and [a=R.E.M.] (with lead singer of the band, Thom Yorke, refering to himself as an \'R.E.M. groupie\').', 'http://www.radiohead.com')]